<div class="modal" id="login-modal">
    <div class="modal-wrapper">
        <div class="modal-close">
            <a href="#" class="modal-close-link"></a>
        </div>
        <div class="modal-title">Войти в аккаунт</div>
        <div class="modal-form-wrapper">
            <form action="#" class="modal-form" method="post" enctype="application/x-www-form-urlencoded" autocomplete="off">
                <div class="form-row">
                    <input type="email" name="email" id="email" class="input-text email-input-js" placeholder="Введите ваш email:">
                </div>
                <div class="form-row">
                    <input type="password" name="password" id="password" class="input-text password-input-js" placeholder="Введите пароль:">
                </div>
                <div class="form-row center-content">
                    <button class="btn btn-red" type="submit">Войти</button>
                </div>
            </form>
        </div>
    </div>
</div>