<div class="chat">
    <div class="chat-wrapper clearfix">
        <div class="chat-content">
            <div class="chat-content-header">
                <div class="chat-contact-thumb-active">
                    <img class="contact-thumb-active-img" src="%=static=%img/assets/top-girls-slider/girl-1.jpg" alt="">
                </div>
                <div class="chat-contact-name">Елена</div>
                <div class="online-status online">Online</div>
            </div>
            <div class="chat-content-list-messages"></div>
            <div class="chat-content-form">
                <form action="#" class="chat-form-message">
                    <div class="form-row">
                        <textarea name="" id="" cols="30" rows="10" class="input-textarea" placeholder="Введите сообщение..."></textarea>
                    </div>
                    <div class="form-row">
                        <ul class="chat-form-links">
                            <li class="chat-form-links__item">
                                <a href="#" class="chat-form-links__item-link">
                                    <img src="%=static=%img/assets/chat/smile-icon.png" alt="">
                                </a>
                            </li>
                            <li class="chat-form-links__item">
                                <a href="#" class="chat-form-links__item-link">
                                    <img src="%=static=%img/assets/chat/gift-icon.png" alt="">
                                </a>
                            </li>
                            <li class="chat-form-links__item">
                                <a href="#" class="chat-form-links__item-link">
                                    <img src="%=static=%img/assets/chat/attach-icon.png" alt="">
                                </a>
                            </li>
                        </ul>
                        <button type="submit" class="btn btn-red">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="left-sidebar">
            <div class="chat-left-sidebar-wrapper">
                <h3 class="sidebar__title">43 девушки online</h3>
                <div class="search-contacts">
                    <form action="#" class="form-search-contacts">
                        <div class="form-row">
                            <input type="text" name="s" class="input-text search-input" placeholder="Поиск по ID">
                        </div>
                    </form>
                </div>
                <div class="list-online-contacts">
                    <div class="profile-item ">
                        <div class="top-part">
                            <img class="profile-img" src="%=static=%img/assets/top-girls-slider/girl-1.jpg" alt="">
                        </div>
                        <div class="bottom-part">
                            <div class="profile-row">
                                <div class="left-part">
                                    <div class="profile-name">
                                        Анна <span class="profile-age">22 года</span>
                                    </div>
                                </div>
                                <div class="right-part">
                                    <div class="profile-link">
                                        <a href="#" class="profile-link-item"><i
                                                class="sprite-chat sprite-chat-icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-row">
                                <div class="left-part">
                                    <div class="id-profile">ID: 45</div>
                                </div>
                                <div class="right-part">
                                    <div class="online-status online">Online</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-item ">
                        <div class="top-part">
                            <img class="profile-img" src="%=static=%img/assets/top-girls-slider/girl-2.jpg" alt="">
                        </div>
                        <div class="bottom-part">
                            <div class="profile-row">
                                <div class="left-part">
                                    <div class="profile-name">
                                        Анна <span class="profile-age">22 года</span>
                                    </div>
                                </div>
                                <div class="right-part">
                                    <div class="profile-link">
                                        <a href="#" class="profile-link-item"><i
                                                class="sprite-chat sprite-chat-icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-row">
                                <div class="left-part">
                                    <div class="id-profile">ID: 45</div>
                                </div>
                                <div class="right-part">
                                    <div class="online-status online">Online</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-item ">
                        <div class="top-part">
                            <img class="profile-img" src="%=static=%img/assets/top-girls-slider/girl-3.jpg" alt="">
                        </div>
                        <div class="bottom-part">
                            <div class="profile-row">
                                <div class="left-part">
                                    <div class="profile-name">
                                        Анна <span class="profile-age">22 года</span>
                                    </div>
                                </div>
                                <div class="right-part">
                                    <div class="profile-link">
                                        <a href="#" class="profile-link-item"><i
                                                class="sprite-chat sprite-chat-icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-row">
                                <div class="left-part">
                                    <div class="id-profile">ID: 45</div>
                                </div>
                                <div class="right-part">
                                    <div class="online-status online">Online</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-item ">
                        <div class="top-part">
                            <img class="profile-img" src="%=static=%img/assets/top-girls-slider/girl-4.jpg" alt="">
                        </div>
                        <div class="bottom-part">
                            <div class="profile-row">
                                <div class="left-part">
                                    <div class="profile-name">
                                        Анна <span class="profile-age">22 года</span>
                                    </div>
                                </div>
                                <div class="right-part">
                                    <div class="profile-link">
                                        <a href="#" class="profile-link-item"><i
                                                class="sprite-chat sprite-chat-icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-row">
                                <div class="left-part">
                                    <div class="id-profile">ID: 45</div>
                                </div>
                                <div class="right-part">
                                    <div class="online-status online">Online</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-item ">
                        <div class="top-part">
                            <img class="profile-img" src="%=static=%img/assets/top-girls-slider/girl-5.jpg" alt="">
                        </div>
                        <div class="bottom-part">
                            <div class="profile-row">
                                <div class="left-part">
                                    <div class="profile-name">
                                        Анна <span class="profile-age">22 года</span>
                                    </div>
                                </div>
                                <div class="right-part">
                                    <div class="profile-link">
                                        <a href="#" class="profile-link-item"><i
                                                class="sprite-chat sprite-chat-icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-row">
                                <div class="left-part">
                                    <div class="id-profile">ID: 45</div>
                                </div>
                                <div class="right-part">
                                    <div class="online-status online">Online</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-item ">
                        <div class="top-part">
                            <img class="profile-img" src="%=static=%img/assets/top-girls-slider/girl-6.jpg" alt="">
                        </div>
                        <div class="bottom-part">
                            <div class="profile-row">
                                <div class="left-part">
                                    <div class="profile-name">
                                        Анна <span class="profile-age">22 года</span>
                                    </div>
                                </div>
                                <div class="right-part">
                                    <div class="profile-link">
                                        <a href="#" class="profile-link-item"><i
                                                class="sprite-chat sprite-chat-icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-row">
                                <div class="left-part">
                                    <div class="id-profile">ID: 45</div>
                                </div>
                                <div class="right-part">
                                    <div class="online-status online">Online</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-sidebar">
            <div class="chat-left-sidebar-wrapper">
                <h3 class="sidebar__title">Список контактов</h3>
                <div class="sound-block">
                    <div class="sound-block-wrapper">
                        <label for="sound" class="round-label">Звук
                            <input type="checkbox" id="sound" name="sound" class="sound-check">
                            <div class="sound-check-bg"></div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="list-online-contacts">
                <div class="profile-item ">
                    <div class="top-part">
                        <img class="profile-img" src="%=static=%img/assets/top-girls-slider/girl-1.jpg" alt="">
                    </div>
                    <div class="bottom-part">
                        <div class="profile-row">
                            <div class="left-part">
                                <div class="profile-name">
                                    Анна <span class="profile-age">22 года</span>
                                </div>
                            </div>
                            <div class="right-part">
                                <div class="profile-link">
                                    <a href="#" class="profile-link-item"><i
                                            class="sprite-chat sprite-chat-icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="left-part">
                                <div class="id-profile">ID: 45</div>
                            </div>
                            <div class="right-part">
                                <div class="online-status online">Online</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>