<div class="upload-image">
    <div class="upload-image-wrapper">
        <div class="upload-image-content">
            <div class="upload-image-content__row">
                <div class="upload-image-content__part">
                    <h1 class="upload-image-content__part-title">
                        Загрузите свои фотографии
                    </h1>
                    <p>Фотографии должны быть морально достойными, привлекательными и качественными.</p>
                    <p>Категорически запрещено размещать пейзажи, рисунки животных, фотографии других людей и обнаженные
                        фотографии.</p>
                    <p>Мы рассматриваем все загруженные фотографии и будем отвергать те, которые не соответствуют нашим
                        требованиям. Общее количество фотографий, которые можно загрузить — 5.</p>
                </div>
                <div class="upload-image-content__part">
                    <img class="upload-image-content__avatar" src="%=static=%img/assets/upload-image/photo-user.jpg"
                         alt="">
                </div>
            </div>
            <div class="upload-image-content__row">
                <div class="upload-image-content__fullpart">
                    <div class="user-image">
                        <img src="%=static=%img/assets/upload-image/default-img.png" alt="" class="image-img">
                        <div class="form-upload-img">
                            <form action="#" enctype="multipart/form-data" method="post" class="upload-image">
                                <label class="upload-img-label">
                                    <input type="file" name="image" class="input-file"
                                           accept="image/jpeg,image/png,image/gif">
                                    Загузить изображение
                                </label>
                                <button class="btn btn-upload-img">Загрузить изображение</button>
                            </form>
                        </div>
                    </div>
                    <div class="user-image">
                        <img src="%=static=%img/assets/upload-image/default-img.png" alt="" class="image-img">
                        <div class="form-upload-img">
                            <form action="#" enctype="multipart/form-data" method="post" class="upload-image">
                                <label class="upload-img-label">
                                    <input type="file" name="image" class="input-file"
                                           accept="image/jpeg,image/png,image/gif">
                                    Загузить изображение
                                </label>
                                <button class="btn btn-upload-img">Загрузить изображение</button>
                            </form>
                        </div>
                    </div>
                    <div class="user-image">
                        <img src="%=static=%img/assets/upload-image/default-img.png" alt="" class="image-img">
                        <div class="form-upload-img">
                            <form action="#" enctype="multipart/form-data" method="post" class="upload-image">
                                <label class="upload-img-label">
                                    <input type="file" name="image" class="input-file"
                                           accept="image/jpeg,image/png,image/gif">
                                    Загузить изображение
                                </label>
                                <button class="btn btn-upload-img">Загрузить изображение</button>
                            </form>
                        </div>
                    </div>
                    <div class="user-image">
                        <img src="%=static=%img/assets/upload-image/default-img.png" alt="" class="image-img">
                        <div class="form-upload-img">
                            <form action="#" enctype="multipart/form-data" method="post" class="upload-image">
                                <label class="upload-img-label">
                                    <input type="file" name="image" class="input-file"
                                           accept="image/jpeg,image/png,image/gif">
                                    Загузить изображение
                                </label>
                                <button class="btn btn-upload-img">Загрузить изображение</button>
                            </form>
                        </div>
                    </div>
                    <div class="user-image">
                        <img src="%=static=%img/assets/upload-image/default-img.png" alt="" class="image-img">
                        <div class="form-upload-img">
                            <form action="#" enctype="multipart/form-data" method="post" class="upload-image">
                                <label class="upload-img-label">
                                    <input type="file" name="image" class="input-file"
                                           accept="image/jpeg,image/png,image/gif">
                                    Загузить изображение
                                </label>
                                <button class="btn btn-upload-img">Загрузить изображение</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>