// File for scss-vars.
// For example: main colors, paddings and so on.

$white: #fff;
$light-gray: #f7f7f7;
$middle-gray: #e5e5e5;
$pink: #ffe3e0;
$middle-pink: #f8dbd8;
$dark-pink: #f1d6d4;
$pink-border: rgba(227, 146, 139, .95);
$red: #db4c3e;
$dark-red: #cc3d33;
$light-dark-gray: #999999;
$gray: #666;
$light-black: #303030;
$middle-black: #242424;