.footer {
  background-color: $light-black;
  position: relative;
  width: 100%;
}

.footer .wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 90px 0;
  min-width: 320px;
  max-width: 1280px;
}

.footer__left-part {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
}

.menu-title {
  color: $white;
  font-family: "Times New Roman";
  font-size: 1.25em;
  margin-bottom: 30px;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin-bottom: 7px;
}

.menu-item-link {
  color: $gray;
  text-decoration: none;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.menu-item-link:hover {
  color: lighten($gray, 20%);
}

.copyrights {
  color: $white;
  margin: 0;
  padding: 0;
}

@media all and (max-width: 920px) {
  .footer__left-part {
    order: 1;
    width: 100%;
    margin-bottom: 30px;
  }

  .footer__right-part {
    order: 2;
    width: 100%;
    text-align: center;
  }
}

@media all and (max-width: 720px) {
  .footer .wrapper {
    padding: 40px 0;
  }
}

@media all and (max-width: 630px) {
  .footer__left-part {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
  }

  .menu {
    margin-bottom: 30px;
    text-align: center;
  }
}