<footer class="footer">
    <div class="wrapper">
        <div class="footer__left-part">
            <div class="menu">
                <div class="menu-title">О НАС</div>
                <ul class="menu-list">
                    <li class="menu-item">
                        <a href="#" class="menu-item-link">Полезная информация</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-item-link">Правила и условия сайта</a>
                    </li>
                </ul>
            </div>
            <div class="menu">
                <div class="menu-title">ВСТРЕЧИ</div>
                <ul class="menu-list">
                    <li class="menu-item">
                        <a href="#" class="menu-item-link">Встреча в Санкт-Петербурге</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-item-link">Встреча в Доминикане</a>
                    </li>
                </ul>
            </div>
            <div class="menu">
                <div class="menu-title">ПОДДЕРЖКА</div>
                <ul class="menu-list">
                    <li class="menu-item">
                        <a href="#" class="menu-item-link">Контакты</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-item-link">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__right-part">
            <p class="copyrights">Top brides &copy; 2014 - 2016</p>
        </div>
    </div>
</footer>