<div class="profile">
    <div class="profile-wrapper clearfix">
        <div class="left-sidebar">
            <div class="left-sidebar-wrapper">
                <div class="left-sidebar-inner-wrapper">
                    <div class="left-sidebar-title">Маргарита, 28 лет</div>
                    <div class="id-profile">Ваш ID: 291</div>
                    <div class="left-sidebar-avatar">
                        <img class="profile-avatar" src="%=static=%img/assets/other-profile/profile-photo.jpg" alt="">
                    </div>
                </div>
                <div class="left-sidebar-menu">
                    <ul class="sidebar-menu__list">
                        <li class="sidebar-menu__item">
                            <a href="#" class="sidebar-menu__link">
                                <i class="sprite-menu sprite-menu-star-icon"></i> Добавить в избранные
                            </a>
                        </li>
                        <li class="sidebar-menu__item">
                            <a href="#" class="sidebar-menu__link">
                                <i class="sprite-menu sprite-menu-camera-icon"></i> Посмотреть все фото
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <div class="profile-content-block">
                <div class="profile-content-block-wrapper text-left">
                    <h4 class="header-profile-block">Выберите и отправьте подарок</h4>

                    <div class="gifts-container">
                        <div class="gifts-controls">
                            <span href="#" class="filter filter-all btn btn-white" data-filter="all">Все</span>
                            <span href="#" class="filter btn btn-white" data-filter=".real-gift">Реальные</span>
                            <span href="#" class="filter btn btn-white" data-filter=".virtual-gift">Виртуальные</span>
                        </div>
                        <div class="gifts-list" id="gifts-list">
                            <div class="gift-item mix real-gift">
                                <div class="top-part">
                                    <img class="gift-img" src="%=static=%img/assets/gifts/gift-1.jpg" alt="">
                                </div>
                                <div class="bottom-part">
                                    <div class="gift-title">Ромашки</div>
                                    <div class="gift-price">15 кредитов</div>
                                    <div class="gift-button">
                                        <a href="#" class="gift-link">Выбрать подарок</a>
                                    </div>
                                </div>
                            </div>
                            <div class="gift-item mix real-gift">
                                <div class="top-part">
                                    <img class="gift-img" src="%=static=%img/assets/gifts/gift-2.jpg" alt="">
                                </div>
                                <div class="bottom-part">
                                    <div class="gift-title">Роза</div>
                                    <div class="gift-price">15 кредитов</div>
                                    <div class="gift-button">
                                        <a href="#" class="gift-link">Выбрать подарок</a>
                                    </div>
                                </div>
                            </div>
                            <div class="gift-item mix virtual-gift">
                                <div class="top-part">
                                    <img class="gift-img" src="%=static=%img/assets/gifts/gift-3.jpg" alt="">
                                </div>
                                <div class="bottom-part">
                                    <div class="gift-title">Ваза</div>
                                    <div class="gift-price">15 кредитов</div>
                                    <div class="gift-button">
                                        <a href="#" class="gift-link">Выбрать подарок</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
