<div class="top-girls">
    <div class="top-girls-wrapper">
        <div class="slider-list">
            <div class="slider-item">
                <div class="profile-item top-profile">
                    <div class="top-part">
                        <img class="profile-img" src="%=static=%img/assets/top-girls-slider/girl-1.jpg" alt="">
                    </div>
                    <div class="bottom-part">
                        <div class="profile-row">
                            <div class="left-part">
                                <div class="profile-name">
                                    Анна <span class="profile-age">22 года</span>
                                </div>
                            </div>
                            <div class="right-part">
                                <div class="profile-link">
                                    <a href="#" class="profile-link-item">&gt;</a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="left-part">
                                <div class="id-profile">ID: 45</div>
                            </div>
                            <div class="right-part">
                                <div class="online-status online">Online</div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <ul class="profile-link-controls">
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-comment-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-mail-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-star-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-price-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-smile-icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="profile-item top-profile">
                    <div class="top-part">
                        <img class="profile-img" src="%=static=%img/assets/top-girls-slider/girl-2.jpg" alt="">
                    </div>
                    <div class="bottom-part">
                        <div class="profile-row">
                            <div class="left-part">
                                <div class="profile-name">
                                    Елена <span class="profile-age">25 лет</span>
                                </div>
                            </div>
                            <div class="right-part">
                                <div class="profile-link">
                                    <a href="#" class="profile-link-item">&gt;</a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="left-part">
                                <div class="id-profile">ID: 23</div>
                            </div>
                            <div class="right-part">
                                <div class="online-status offline">Offline</div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <ul class="profile-link-controls">
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-comment-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-mail-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-star-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-price-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-smile-icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="profile-item top-profile">
                    <div class="top-part">
                        <img class="profile-img" src="%=static=%img/assets/top-girls-slider/girl-3.jpg" alt="">
                    </div>
                    <div class="bottom-part">
                        <div class="profile-row">
                            <div class="left-part">
                                <div class="profile-name">
                                    Екатерина <span class="profile-age">21 год</span>
                                </div>
                            </div>
                            <div class="right-part">
                                <div class="profile-link">
                                    <a href="#" class="profile-link-item">&gt;</a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="left-part">
                                <div class="id-profile">ID: 76</div>
                            </div>
                            <div class="right-part">
                                <div class="online-status offline">Offline</div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <ul class="profile-link-controls">
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-comment-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-mail-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-star-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-price-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-smile-icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="profile-item top-profile">
                    <div class="top-part">
                        <img class="profile-img" src="%=static=%img/assets/top-girls-slider/girl-4.jpg" alt="">
                    </div>
                    <div class="bottom-part">
                        <div class="profile-row">
                            <div class="left-part">
                                <div class="profile-name">
                                    Виктория <span class="profile-age">23 года</span>
                                </div>
                            </div>
                            <div class="right-part">
                                <div class="profile-link">
                                    <a href="#" class="profile-link-item">&gt;</a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="left-part">
                                <div class="id-profile">ID: 153</div>
                            </div>
                            <div class="right-part">
                                <div class="online-status online">Online</div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <ul class="profile-link-controls">
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-comment-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-mail-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-star-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-price-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-smile-icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="profile-item top-profile">
                    <div class="top-part">
                        <img class="profile-img" src="%=static=%img/assets/top-girls-slider/girl-5.jpg" alt="">
                    </div>
                    <div class="bottom-part">
                        <div class="profile-row">
                            <div class="left-part">
                                <div class="profile-name">
                                    Дарья <span class="profile-age">26 лет</span>
                                </div>
                            </div>
                            <div class="right-part">
                                <div class="profile-link">
                                    <a href="#" class="profile-link-item">&gt;</a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="left-part">
                                <div class="id-profile">ID: 11</div>
                            </div>
                            <div class="right-part">
                                <div class="online-status offline">Offline</div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <ul class="profile-link-controls">
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-comment-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-mail-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-star-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-price-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-smile-icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="profile-item top-profile">
                    <div class="top-part">
                        <img class="profile-img" src="%=static=%img/assets/top-girls-slider/girl-6.jpg" alt="">
                    </div>
                    <div class="bottom-part">
                        <div class="profile-row">
                            <div class="left-part">
                                <div class="profile-name">
                                    Дарья <span class="profile-age">19 лет</span>
                                </div>
                            </div>
                            <div class="right-part">
                                <div class="profile-link">
                                    <a href="#" class="profile-link-item">&gt;</a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="left-part">
                                <div class="id-profile">ID: 93</div>
                            </div>
                            <div class="right-part">
                                <div class="online-status online">Online</div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <ul class="profile-link-controls">
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-comment-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-mail-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-star-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-price-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-smile-icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="profile-item top-profile">
                    <div class="top-part">
                        <img class="profile-img" src="%=static=%img/assets/top-girls-slider/girl-7.jpg" alt="">
                    </div>
                    <div class="bottom-part">
                        <div class="profile-row">
                            <div class="left-part">
                                <div class="profile-name">
                                    Мария <span class="profile-age">20 лет</span>
                                </div>
                            </div>
                            <div class="right-part">
                                <div class="profile-link">
                                    <a href="#" class="profile-link-item">&gt;</a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="left-part">
                                <div class="id-profile">ID: 34</div>
                            </div>
                            <div class="right-part">
                                <div class="online-status online">Online</div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <ul class="profile-link-controls">
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-comment-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-mail-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-star-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-price-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-smile-icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="profile-item top-profile">
                    <div class="top-part">
                        <img class="profile-img" src="%=static=%img/assets/top-girls-slider/girl-8.jpg" alt="">
                    </div>
                    <div class="bottom-part">
                        <div class="profile-row">
                            <div class="left-part">
                                <div class="profile-name">
                                    Юлия <span class="profile-age">22 года</span>
                                </div>
                            </div>
                            <div class="right-part">
                                <div class="profile-link">
                                    <a href="#" class="profile-link-item">&gt;</a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="left-part">
                                <div class="id-profile">ID: 45</div>
                            </div>
                            <div class="right-part">
                                <div class="online-status online">Online</div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <ul class="profile-link-controls">
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-comment-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-mail-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-star-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-price-icon"></i>
                                    </a>
                                </li>
                                <li class="profile-link-control">
                                    <a href="#" class="profile-link__item">
                                        <i class="sprite sprite-smile-icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
