<div class="search-form">
    <div class="search-form-wrapper">
        <div class="row-search">
            <div class="search-form__title">Найди девушку своей мечты:</div>
            <div class="search-form__form-wrapper">
                <form action="#" class="search-form-html">
                    <p class="search-title">
                        <span class="main-label-search-form">Выберите возраст:</span>
                        <label class="search-form-label" for="from">от
                        <input name="from" id="from" type="text" placeholder="18" class="input-text sm-input-w"></label>
                        <label class="search-form-label" for="to">до
                        <input name="to" id="to" type="text" placeholder="45" class="input-text sm-input-w"></label>
                        <button class="btn btn-red">Поиск</button>
                    </p>
                </form>
            </div>
        </div>
        <div class="row-search">
            <p class="advanced-search-p"><a href="#" class="advanced-search-link">Расширенный поиск</a></p>
        </div>
    </div>
</div>