<div class="search-form">
    <div class="search-form-wrapper">
        <div class="row-search">
            <div class="search-form__title">Найди девушку своей мечты:</div>
            <div class="search-form__form-wrapper">
                <form action="#" class="search-form-html">
                    <p class="search-title">
                        Выберите возраст:
                        <label for="from">от
                        <input name="from" id="from" type="text" class="input-text"></label>
                        <label for="to">до
                        <input name="to" id="to" type="text" class="input-text"></label>
                        <button class="btn btn-red">Поиск</button>
                    </p>
                </form>
            </div>
        </div>
        <div class="row-search">
            <a href="#" class="advanced-search-link">Расширенный поиск</a>
        </div>
    </div>
</div>