<div class="advanced-popup">
    <div class="wrapper">
        <div class="left-part-advanced-popup">
            <div class="top-part">
                <div class="left-part-top-part">
                    <div class="slider-controls">
                        <div class="slider-control prev-item">&larr;</div>
                        <div class="slider-control next-item">&rarr;</div>
                    </div>
                    <ul class="slider-photo">
                        <li data-slide-id="1" class="slide-item"><img src="%=static=%img/assets/advanced-popup/girl-1.jpg" alt="girl-1" itle="girl-1"></li>
                        <li data-slide-id="2" class="slide-item"><img src="%=static=%img/assets/advanced-popup/girl-2.jpg" alt="girl-2" title="girl-2"></li>
                        <li data-slide-id="3" class="slide-item"><img src="%=static=%img/assets/advanced-popup/girl-3.jpg" alt="girl-3" title="girl-3"></li>
                        <li data-slide-id="4" class="slide-item"><img src="%=static=%img/assets/advanced-popup/girl-4.jpg" alt="girl-4" title="girl-4"></li>
                        <li data-slide-id="5" class="slide-item"><img src="%=static=%img/assets/advanced-popup/girl-5.jpg" alt="girl-5" title="girl-5"></li>
                        <li data-slide-id="6" class="slide-item"><img src="%=static=%img/assets/advanced-popup/girl-6.jpg" alt="girl-6" title="girl-6"></li>
                    </ul>
                </div>
                <div class="right-part-top-part">
                    <ul class="slider-photo slide-thumbs">
                        <li data-slide-id="1" class="slide-item"><img src="%=static=%img/assets/advanced-popup/girl-1.jpg" alt="girl-1" title="girl-1"></li>
                        <li data-slide-id="2" class="slide-item"><img src="%=static=%img/assets/advanced-popup/girl-2.jpg" alt="girl-2" title="girl-2"></li>
                        <li data-slide-id="3" class="slide-item"><img src="%=static=%img/assets/advanced-popup/girl-3.jpg" alt="girl-3" title="girl-3"></li>
                        <li data-slide-id="4" class="slide-item"><img src="%=static=%img/assets/advanced-popup/girl-4.jpg" alt="girl-4" title="girl-4"></li>
                        <li data-slide-id="5" class="slide-item"><img src="%=static=%img/assets/advanced-popup/girl-5.jpg" alt="girl-5" title="girl-5"></li>
                        <li data-slide-id="6" class="slide-item"><img src="%=static=%img/assets/advanced-popup/girl-6.jpg" alt="girl-6" title="girl-6"></li>
                    </ul>
                </div>
            </div>
            <div class="bottom-part">
                <ul class="slider-photo">
                    <li class="slide-item" data-slide-id="1">
                        <h4 class="photo-name">Елена
                            <small class="photo-name-age">25 лет</small>
                        </h4>
                        <p class="slide-photo-cite">
                            С другой стороны дальнейшее развитие различных форм деятельности позволяет выполнять важные
                            задания по разработке дальнейших направлений развития. Товарищи! постоянный количественный
                            рост и сфера нашей активности позволяет оценить значение соответствующий условий.
                        </p>
                    </li>
                    <li class="slide-item" data-slide-id="2">
                        <h4 class="photo-name">Екатерина
                            <small class="photo-name-age">21 год</small>
                        </h4>
                        <p class="slide-photo-cite">
                            С другой стороны дальнейшее развитие различных форм деятельности позволяет выполнять важные
                            задания по разработке дальнейших направлений развития. Товарищи! постоянный количественный
                            рост и сфера нашей активности позволяет оценить значение соответствующий условий.
                        </p>
                    </li>
                    <li class="slide-item" data-slide-id="3">
                        <h4 class="photo-name">Дарья
                            <small class="photo-name-age">23 года</small>
                        </h4>
                        <p class="slide-photo-cite">
                            С другой стороны дальнейшее развитие различных форм деятельности позволяет выполнять важные
                            задания по разработке дальнейших направлений развития. Товарищи! постоянный количественный
                            рост и сфера нашей активности позволяет оценить значение соответствующий условий.
                        </p>
                    </li>
                    <li class="slide-item" data-slide-id="4">
                        <h4 class="photo-name">Вероника
                            <small class="photo-name-age">22 года</small>
                        </h4>
                        <p class="slide-photo-cite">
                            С другой стороны дальнейшее развитие различных форм деятельности позволяет выполнять важные
                            задания по разработке дальнейших направлений развития. Товарищи! постоянный количественный
                            рост и сфера нашей активности позволяет оценить значение соответствующий условий.
                        </p>
                    </li>
                    <li class="slide-item" data-slide-id="5">
                        <h4 class="photo-name">Анна
                            <small class="photo-name-age">26 лет</small>
                        </h4>
                        <p class="slide-photo-cite">
                            С другой стороны дальнейшее развитие различных форм деятельности позволяет выполнять важные
                            задания по разработке дальнейших направлений развития. Товарищи! постоянный количественный
                            рост и сфера нашей активности позволяет оценить значение соответствующий условий.
                        </p>
                    </li>
                    <li class="slide-item" data-slide-id="6">
                        <h4 class="photo-name">Мария,
                            <small class="photo-name-age">19 лет</small>
                        </h4>
                        <p class="slide-photo-cite">
                            С другой стороны дальнейшее развитие различных форм деятельности позволяет выполнять важные
                            задания по разработке дальнейших направлений развития. Товарищи! постоянный количественный
                            рост и сфера нашей активности позволяет оценить значение соответствующий условий.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-part-advanced-popup">
            <div class="reg-modal-wrapper">
                <div class="modal-close">
                    <a href="#" class="modal-close-link"></a>
                </div>
                <div class="modal-title">Пройти регистрацию <span class="row-title">за 2 минуты</span></div>
                <div class="modal-form-wrapper">
                    <form action="#" class="modal-form" method="post" enctype="application/x-www-form-urlencoded"
                          autocomplete="off">
                        <div class="form-row">
                            <input type="text" name="name" class="input-text name-input-js"
                                   placeholder="Введите ваше имя:">
                        </div>
                        <div class="form-row">
                            <input type="text" name="lastname" class="input-text lastname-input-js"
                                   placeholder="Введите вашу фамилию:">
                        </div>
                        <div class="form-row">
                            <input type="email" name="email" class="input-text email-input-js"
                                   placeholder="Введите ваш email:">
                        </div>
                        <div class="form-row select-row">
                            <select name="country" class="input-select">
                                <option value="">Страна</option>
                                <option value="1">Россия</option>
                                <option value="2">Белоруссия</option>
                                <option value="3">Украина</option>
                                <option value="4">Казахстан</option>
                            </select>
                        </div>
                        <div class="form-row">
                            <input type="password" name="password" class="input-text password-input-js"
                                   placeholder="Пароль">
                        </div>
                        <div class="form-row center-content">
                            <button class="btn btn-red" type="submit">Зарегистрироваться</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>