<div class="messages">
    <div class="messages-wrapper">
        <div class="ionTabs list-messages" id="list-messages">
            <ul class="ionTabs__head">
                <li class="ionTabs__tab" data-target="from-user">
                    Входящие <span class="count-messages">2</span></li>
                <li class="ionTabs__tab" data-target="from-admin">
                    От администрации <span class="count-messages-wrapper"><span class="count-messages">2</span></span>
                </li>
            </ul>
            <div class="ionTabs__body messages-body">
                <div class="ionTabs__item" data-name="from-user">
                    <table class="messages-table">
                        <thead>
                        <tr>
                            <th class="sender-message">Отправитель</th>
                            <th class="last-message">Последнее сообщение</th>
                            <th class="attachment-message">Вложения</th>
                            <th class="data-message">Дата</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="without-border avatar-cell">
                                <img src="%=static=%img/assets/messages/user-photo-1.jpg" alt=""
                                     class="message-user-photo">
                            </td>
                            <td>
                                <div class="table-row">От: <a href="#" class="link-to-profile">Алины</a></div>
                                <div class="table-row">Тема: <span class="title-subject">Привет, Евгений</span></div>
                                <div class="table-row">
                                    <p class="message-preview">Идейные соображения высшего порядка, а также начало
                                        повседневной работы по формированию позиции позволяет выполнять важные задания
                                        по разработке соответствующий условий активизации. Идейные соображения высшего
                                        порядка, а также новая модель организационной деятельности обеспечивает широкому
                                        кругу (специалистов) участие...</p>
                                </div>
                                <div class="table-row text-right">
                                    <a href="#" class="link-to-message">Читать больше</a>
                                    <a href="#" class="btn btn-red">Ответить</a>
                                </div>
                            </td>
                            <td>
                                <ul class="list-attachments">
                                    <li class="attachment-item"><a href="#" class="attach-img">123.jpg</a></li>
                                    <li class="attachment-item"><a href="#" class="attach-img">Photo.jpg</a></li>
                                </ul>
                            </td>
                            <td class="without-border">
                                <span class="date-send-message">12.01.2016</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="without-border avatar-cell">
                                <img src="%=static=%img/assets/messages/user-photo-2.jpg" alt=""
                                     class="message-user-photo">
                            </td>
                            <td>
                                <div class="table-row">От: <a href="#" class="link-to-profile">Маргариты</a></div>
                                <div class="table-row">Тема: <span class="title-subject">Привет, Евгений</span></div>
                                <div class="table-row">
                                    <p class="message-preview">Идейные соображения высшего порядка, а также начало
                                        повседневной работы по формированию позиции позволяет выполнять важные задания
                                        по разработке соответствующий условий активизации. Идейные соображения высшего
                                        порядка, а также новая модель организационной деятельности обеспечивает широкому
                                        кругу (специалистов) участие...</p>
                                </div>
                                <div class="table-row text-right">
                                    <a href="#" class="link-to-message">Читать больше</a>
                                    <a href="#" class="btn btn-red">Ответить</a>
                                </div>
                            </td>
                            <td></td>
                            <td class="without-border">
                                <span class="date-send-message">12.01.2016</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ionTabs__item" data-name="from-admin">
                    <table class="messages-table">
                        <thead>
                        <tr>
                            <th class="sender-message">Отправитель</th>
                            <th class="last-message">Последнее сообщение</th>
                            <th class="attachment-message">Вложения</th>
                            <th class="data-message">Дата</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="without-border">
                                <img src="%=static=%img/assets/messages/user-photo-3.jpg" alt=""
                                     class="message-user-photo">
                            </td>
                            <td>
                                <div class="table-row">От: <a href="#" class="link-to-profile">Администрация</a></div>
                                <div class="table-row">Тема: <span class="title-subject">Ваш запрос контактов</span></div>
                                <div class="table-row">
                                    <p class="message-preview">Идейные соображения высшего порядка, а также начало
                                        повседневной работы по формированию позиции позволяет выполнять важные задания
                                        по разработке соответствующий условий активизации. Идейные соображения высшего
                                        порядка, а также новая модель организационной деятельности обеспечивает широкому
                                        кругу (специалистов) участие...</p>
                                </div>
                                <div class="table-row text-right">
                                    <a href="#" class="link-to-message">Читать больше</a>
                                    <a href="#" class="btn btn-red">Ответить</a>
                                </div>
                            </td>
                            <td>
                                <ul class="list-attachments">
                                    <li class="attachment-item"><a href="#" class="attach-img">123.jpg</a></li>
                                    <li class="attachment-item"><a href="#" class="attach-img">Photo.jpg</a></li>
                                </ul>
                            </td>
                            <td class="without-border">
                                <span class="date-send-message">12.01.2016</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="without-border">
                                <img src="%=static=%img/assets/messages/user-photo-3.jpg" alt=""
                                     class="message-user-photo">
                            </td>
                            <td class="without-border">
                                <div class="table-row">От: <a href="#" class="link-to-profile">Администрация</a></div>
                                <div class="table-row">Тема: <span class="title-subject">Ваш запрос контактов</span></div>
                                <div class="table-row">
                                    <p class="message-preview">Идейные соображения высшего порядка, а также начало
                                        повседневной работы по формированию позиции позволяет выполнять важные задания
                                        по разработке соответствующий условий активизации. Идейные соображения высшего
                                        порядка, а также новая модель организационной деятельности обеспечивает широкому
                                        кругу (специалистов) участие...</p>
                                </div>
                                <div class="table-row text-right">
                                    <a href="#" class="link-to-message">Читать больше</a>
                                    <a href="#" class="btn btn-red">Ответить</a>
                                </div>
                            </td>
                            <td></td>
                            <td class="without-border">
                                <span class="date-send-message">12.01.2016</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ionTabs__preloader"></div>
            </div>
        </div>


    </div>
</div>