<div class="about">
    <div class="wrapper">
        <div class="about-title">
            <a href="#" class="logo-top-bridge">
                <img class="about-logo-img" src="%=static=%img/assets/about/logo-big.png" alt="">
                <span class="about-link-text">это</span>
            </a>
        </div>

        <div class="about-list-wrapper clearfix">
            <ul class="about-list">
                <li class="about-list__item  wow bounceInUp" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="icon-wrapper">
                        <i class="about-sprite about-sprite-icon-1"></i>
                    </div>
                    <p class="about-text">Реальная возможность построить онтношения с девушкой вашей мечты. </p>
                </li>
                <li class="about-list__item wow bounceInLeft" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="icon-wrapper">
                        <i class="about-sprite about-sprite-icon-2"></i>
                    </div>
                    <p class="about-text">Честность и открытость, только живые люди на сайте.</p>
                </li>
                <li class="about-list__item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="icon-wrapper">
                        <i class="about-sprite about-sprite-icon-3"></i>
                    </div>
                    <p class="about-text">Надежность и безопасность против хамства и предложения интима.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
