<div class="profile">
    <div class="profile-wrapper clearfix">
        <div class="left-sidebar">
            <div class="left-sidebar-wrapper">
                <div class="left-sidebar-inner-wrapper">
                    <div class="left-sidebar-title">Здравствуйте, Евгений</div>
                    <div class="id-profile">Ваш ID: 291</div>
                    <div class="left-sidebar-link">
                        <a href="#" class="edit-link">Редактировать профиль</a>
                    </div>
                    <div class="left-sidebar-avatar">
                        <img class="profile-avatar" src="%=static=%img/assets/profile/avatar-profile.jpg" alt="">
                    </div>
                    <div class="left-sidebar-link">
                        <a href="#" class="edit-link">Загрузить новую фотографию</a>
                    </div>
                </div>
                <div class="left-sidebar-menu">
                    <ul class="sidebar-menu__list">
                        <li class="sidebar-menu__item">
                            <a href="#" class="sidebar-menu__link">
                                <i class="sprite-menu sprite-menu-camera-icon"></i> Мои фото
                            </a>
                        </li>
                        <li class="sidebar-menu__item">
                            <a href="#" class="sidebar-menu__link">
                                <i class="sprite-menu sprite-menu-star-icon"></i> Избранное
                            </a>
                        </li>
                        <li class="sidebar-menu__item">
                            <a href="#" class="sidebar-menu__link">
                                <i class="sprite-menu sprite-menu-blacklist-icon"></i> Черный список
                            </a>
                        </li>
                        <li class="sidebar-menu__item">
                            <a href="#" class="sidebar-menu__link">
                                <i class="sprite-menu sprite-menu-stats-icon"></i> Моя статистика
                            </a>
                        </li>
                        <li class="sidebar-menu__item">
                            <a href="#" class="sidebar-menu__link">
                                <i class="sprite-menu sprite-menu-logout-icon"></i> Выйти
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <div class="profile-content-block">
                <div class="profile-content-block-wrapper text-right">
                    <h3 class="profile-header">Ваш кредитный баланс: <span class="credits-count">0</span></h3>
                </div>
            </div>
            <div class="profile-content-block">
                <div class="profile-content-block-wrapper">
                    <div class="profile-settings-list">
                        <div class="profile-settings-part">
                            <div class="profile-settings-item">
                                <span class="profile-setting-label">Страна</span>
                                <a href="#" class="profile-setting-option">не указан</a>
                            </div>
                            <div class="profile-settings-item">
                                <span class="profile-setting-label">Город</span>
                                <a href="#" class="profile-setting-option">не указан</a>
                            </div>
                            <div class="profile-settings-item">
                                <span class="profile-setting-label">Возраст</span>
                                <a href="#" class="profile-setting-option">не указан</a>
                            </div>
                            <div class="profile-settings-item">
                                <span class="profile-setting-label">Семейное положение</span>
                                <a href="#" class="profile-setting-option">не указан</a>
                            </div>
                            <div class="profile-settings-item">
                                <span class="profile-setting-label">Дети</span>
                                <a href="#" class="profile-setting-option">не указан</a>
                            </div>
                            <div class="profile-settings-item">
                                <span class="profile-setting-label">Рост</span>
                                <a href="#" class="profile-setting-option">не указан</a>
                            </div>
                            <div class="profile-settings-item">
                                <span class="profile-setting-label">Вес</span>
                                <a href="#" class="profile-setting-option">не указан</a>
                            </div>
                        </div>
                        <div class="profile-settings-part">
                            <div class="profile-settings-item">
                                <span class="profile-setting-label">Цвет глаз</span>
                                <a href="#" class="profile-setting-option">не указан</a>
                            </div>
                            <div class="profile-settings-item">
                                <span class="profile-setting-label">Цвет волос</span>
                                <a href="#" class="profile-setting-option">не указан</a>
                            </div>
                            <div class="profile-settings-item">
                                <span class="profile-setting-label">Профессия</span>
                                <a href="#" class="profile-setting-option">не указан</a>
                            </div>
                            <div class="profile-settings-item">
                                <span class="profile-setting-label">Религия</span>
                                <a href="#" class="profile-setting-option">не указан</a>
                            </div>
                            <div class="profile-settings-item">
                                <span class="profile-setting-label">Образование</span>
                                <a href="#" class="profile-setting-option">не указан</a>
                            </div>
                            <div class="profile-settings-item">
                                <span class="profile-setting-label">Отношение к курению</span>
                                <a href="#" class="profile-setting-option">не указан</a>
                            </div>
                            <div class="profile-settings-item">
                                <span class="profile-setting-label">Отношение к алкоголю</span>
                                <a href="#" class="profile-setting-option">не указан</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-content-block">
                <div class="profile-content-block-wrapper text-left">
                    <h4 class="header-profile-block"><a href="#" class="profile-link">Приобрести кредит</a></h4>
                    <p>Кредиты виртуальной денежной единицы существуют для осуществления платежей на сайте. Чем больше
                        кредитов вы приобретаете, тем большую скидку вы получаете. Купленный кредит никогда не
                        истекает.</p>
                </div>
            </div>
        </div>
    </div>
</div>
