<div class="reviews">
    <div class="wrapper wow fadeIn" data-wow-duration="1s">
        <div class="reviews-title">
            Более <span class="count-reviews">1000</span> отзывов
            <span class="review-title__row">от тех, кто уже нашел себе близкого человека</span>
        </div>

        <div class="reviews-list">
            <div class="review-item">
                <div class="review-item__inner-wrapper">
                    <div class="review-avatar">
                        <a href="#" class="review__author-link">
                            <img class="review-img" src="%=static=%img/assets/reviews/review-ava.jpg" alt="Джон Смит"
                                 title="Джон Смит">
                        </a>
                    </div>
                    <div class="review-content">
                        <blockquote class="review-comment">
                            <p class="review-text">С другой стороны дальнейшее развитие различных форм деятельности позволяет выполнять важные
                            задания по разработке дальнейших направлений развития. Товарищи! постоянный количественный
                            рост и сфера нашей активности позволяет оценить значение соответствующий условий
                            активизации.</p>
                            <cite class="review-signature">Джон Смит</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="review-item">
                <div class="review-item__inner-wrapper">
                    <div class="review-avatar">
                        <a href="#" class="review__author-link">
                            <img class="review-img" src="%=static=%img/assets/reviews/review-ava.jpg" alt="Джон Смит"
                                 title="Джон Смит">
                        </a>
                    </div>
                    <div class="review-content">
                        <blockquote class="review-comment">
                            <p class="review-text">С другой стороны дальнейшее развитие различных форм деятельности позволяет выполнять важные
                                задания по разработке дальнейших направлений развития. Товарищи! постоянный количественный
                                рост и сфера нашей активности позволяет оценить значение соответствующий условий
                                активизации.</p>
                            <cite class="review-signature">Джон Смит</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="review-item">
                <div class="review-item__inner-wrapper">
                    <div class="review-avatar">
                        <a href="#" class="review__author-link">
                            <img class="review-img" src="%=static=%img/assets/reviews/review-ava.jpg" alt="Джон Смит"
                                 title="Джон Смит">
                        </a>
                    </div>
                    <div class="review-content">
                        <blockquote class="review-comment">
                            <p class="review-text">С другой стороны дальнейшее развитие различных форм деятельности позволяет выполнять важные
                                задания по разработке дальнейших направлений развития. Товарищи! постоянный количественный
                                рост и сфера нашей активности позволяет оценить значение соответствующий условий
                                активизации.</p>
                            <cite class="review-signature">Джон Смит</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="review-item">
                <div class="review-item__inner-wrapper">
                    <div class="review-avatar">
                        <a href="#" class="review__author-link">
                            <img class="review-img" src="%=static=%img/assets/reviews/review-ava.jpg" alt="Джон Смит"
                                 title="Джон Смит">
                        </a>
                    </div>
                    <div class="review-content">
                        <blockquote class="review-comment">
                            <p class="review-text">С другой стороны дальнейшее развитие различных форм деятельности позволяет выполнять важные
                                задания по разработке дальнейших направлений развития. Товарищи! постоянный количественный
                                рост и сфера нашей активности позволяет оценить значение соответствующий условий
                                активизации.</p>
                            <cite class="review-signature">Джон Смит</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="review-item">
                <div class="review-item__inner-wrapper">
                    <div class="review-avatar">
                        <a href="#" class="review__author-link">
                            <img class="review-img" src="%=static=%img/assets/reviews/review-ava.jpg" alt="Джон Смит"
                                 title="Джон Смит">
                        </a>
                    </div>
                    <div class="review-content">
                        <blockquote class="review-comment">
                            <p class="review-text">С другой стороны дальнейшее развитие различных форм деятельности позволяет выполнять важные
                                задания по разработке дальнейших направлений развития. Товарищи! постоянный количественный
                                рост и сфера нашей активности позволяет оценить значение соответствующий условий
                                активизации.</p>
                            <cite class="review-signature">Джон Смит</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>