<div class="gallery">
    <div class="wrapper">
        <div class="section-title">
            <span class="title-row">Более <span class="count-girls">1000</span> красивых девушек</span>
            <span class="title-row">онлайн из России и Украины</span>
        </div>
        <div class="gallery-list wow fadeIn" data-wow-duration="1s">

            <div class="gallery-item">
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-1.jpg" class="gallery-img" alt="Анна, 22 года"
                                 title="Анна, 22 года">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Анна <span class="age">22 года</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-2.jpg" class="gallery-img" alt="Елена, 25 лет"
                                 title="Елена, 25 лет">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Елена <span class="age">25 лет</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-3.jpg" class="gallery-img"
                                 alt="Екатерина, 21 год" title="Екатерина, 21 год">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Екатерина <span class="age">21 год</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-4.jpg" class="gallery-img"
                                 alt="Виктория, 23 год" title="Виктория, 23 год">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Виктория <span class="age">23 года</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-5.jpg" class="gallery-img" alt="Анна, 22 года"
                                 title="Анна, 22 года">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Анна <span class="age">22 года</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-6.jpg" class="gallery-img" alt="Анна, 22 года"
                                 title="Анна, 22 года">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Анна <span class="age">22 года</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-7.jpg" class="gallery-img"
                                 alt="Екатерина, 21 год"
                                 title="Екатерина, 21 год">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Екатерина <span class="age">21 год</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-8.jpg" class="gallery-img"
                                 alt="Виктория, 23 года"
                                 title="Виктория, 23 года">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Виктория <span class="age">23 год</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="gallery-item">
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-1.jpg" class="gallery-img" alt="Анна, 22 года"
                                 title="Анна, 22 года">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Анна <span class="age">22 года</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-2.jpg" class="gallery-img" alt="Елена, 25 лет"
                                 title="Елена, 25 лет">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Елена <span class="age">25 лет</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-3.jpg" class="gallery-img"
                                 alt="Екатерина, 21 год" title="Екатерина, 21 год">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Екатерина <span class="age">21 год</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-4.jpg" class="gallery-img"
                                 alt="Виктория, 23 год" title="Виктория, 23 год">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Виктория <span class="age">23 года</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-5.jpg" class="gallery-img" alt="Анна, 22 года"
                                 title="Анна, 22 года">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Анна <span class="age">22 года</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-6.jpg" class="gallery-img" alt="Анна, 22 года"
                                 title="Анна, 22 года">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Анна <span class="age">22 года</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-7.jpg" class="gallery-img"
                                 alt="Екатерина, 21 год"
                                 title="Екатерина, 21 год">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Екатерина <span class="age">21 год</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-8.jpg" class="gallery-img"
                                 alt="Виктория, 23 года"
                                 title="Виктория, 23 года">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Виктория <span class="age">23 год</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="gallery-item">
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-1.jpg" class="gallery-img" alt="Анна, 22 года"
                                 title="Анна, 22 года">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Анна <span class="age">22 года</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-2.jpg" class="gallery-img" alt="Елена, 25 лет"
                                 title="Елена, 25 лет">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Елена <span class="age">25 лет</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-3.jpg" class="gallery-img"
                                 alt="Екатерина, 21 год" title="Екатерина, 21 год">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Екатерина <span class="age">21 год</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-4.jpg" class="gallery-img"
                                 alt="Виктория, 23 год" title="Виктория, 23 год">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Виктория <span class="age">23 года</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-5.jpg" class="gallery-img" alt="Анна, 22 года"
                                 title="Анна, 22 года">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Анна <span class="age">22 года</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-6.jpg" class="gallery-img" alt="Анна, 22 года"
                                 title="Анна, 22 года">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Анна <span class="age">22 года</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-7.jpg" class="gallery-img"
                                 alt="Екатерина, 21 год"
                                 title="Екатерина, 21 год">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Екатерина <span class="age">21 год</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-8.jpg" class="gallery-img"
                                 alt="Виктория, 23 года"
                                 title="Виктория, 23 года">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Виктория <span class="age">23 год</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="gallery-item">
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-1.jpg" class="gallery-img" alt="Анна, 22 года"
                                 title="Анна, 22 года">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Анна <span class="age">22 года</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-2.jpg" class="gallery-img" alt="Елена, 25 лет"
                                 title="Елена, 25 лет">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Елена <span class="age">25 лет</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-3.jpg" class="gallery-img"
                                 alt="Екатерина, 21 год" title="Екатерина, 21 год">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Екатерина <span class="age">21 год</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-4.jpg" class="gallery-img"
                                 alt="Виктория, 23 год" title="Виктория, 23 год">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Виктория <span class="age">23 года</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-5.jpg" class="gallery-img" alt="Анна, 22 года"
                                 title="Анна, 22 года">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Анна <span class="age">22 года</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-6.jpg" class="gallery-img" alt="Анна, 22 года"
                                 title="Анна, 22 года">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Анна <span class="age">22 года</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-7.jpg" class="gallery-img"
                                 alt="Екатерина, 21 год"
                                 title="Екатерина, 21 год">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Екатерина <span class="age">21 год</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="photo-container">
                    <div class="inner-wrapper">
                        <div class="photo-wrapper">
                            <img src="%=static=%img/assets/gallery/girl-8.jpg" class="gallery-img"
                                 alt="Виктория, 23 года"
                                 title="Виктория, 23 года">
                        </div>
                        <div class="photo-label">
                            <p class="name-girl">Виктория <span class="age">23 год</span></p>
                            <p class="read-more">
                                <a href="#" class="read-more-link">&gt;</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>