<div class="profile-photos-modal">
    <div class="modal-close"></div>
    <div class="profile-modal-wrapper">
        <div class="left-part">
            <div class="profile-modal-slider-controls">
                <div class="slider-control prev-item">←</div>
                <div class="slider-control next-item">→</div>
            </div>
            <ul class="other-profile-big-slider">
                <li class="profile-photo-item" data-slide-id="1">
                    <img class="slide-img" src="%=static=%img/assets/profile_photos/girl-1.jpg" alt="">
                    <a href="#" class="liked-link"><img src="%=static=%img/assets/profile_photos/liked-bg.png" alt=""></a>
                </li>
                <li class="profile-photo-item" data-slide-id="2">
                    <img class="slide-img" src="%=static=%img/assets/profile_photos/girl-2.jpg" alt="">
                    <a href="#" class="liked-link"><img src="%=static=%img/assets/profile_photos/liked-bg.png" alt=""></a>
                </li>
                <li class="profile-photo-item" data-slide-id="3">
                    <img class="slide-img" src="%=static=%img/assets/profile_photos/girl-3.jpg" alt="">
                    <a href="#" class="liked-link"><img src="%=static=%img/assets/profile_photos/liked-bg.png" alt=""></a>
                </li>
                <li class="profile-photo-item" data-slide-id="4">
                    <img class="slide-img" src="%=static=%img/assets/profile_photos/girl-4.jpg" alt="">
                    <a href="#" class="liked-link"><img src="%=static=%img/assets/profile_photos/liked-bg.png" alt=""></a>
                </li>
                <li class="profile-photo-item" data-slide-id="5">
                    <img class="slide-img" src="%=static=%img/assets/profile_photos/girl-5.jpg" alt="">
                    <a href="#" class="liked-link"><img src="%=static=%img/assets/profile_photos/liked-bg.png" alt=""></a>
                </li>
                <li class="profile-photo-item" data-slide-id="6">
                    <img class="slide-img" src="%=static=%img/assets/profile_photos/girl-6.jpg" alt="">
                    <a href="#" class="liked-link"><img src="%=static=%img/assets/profile_photos/liked-bg.png" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="right-part">
            <ul class="other-profile-thumb-slider">
                <li class="profile-photo-item" data-slide-id="1">
                    <img class="slide-img" src="%=static=%img/assets/profile_photos/girl-1.jpg" alt="">
                    <a href="#" class="liked-link"><img src="%=static=%img/assets/profile_photos/liked-bg.png" alt=""></a>
                </li>
                <li class="profile-photo-item" data-slide-id="2">
                    <img class="slide-img" src="%=static=%img/assets/profile_photos/girl-2.jpg" alt="">
                    <a href="#" class="liked-link"><img src="%=static=%img/assets/profile_photos/liked-bg.png" alt=""></a>
                </li>
                <li class="profile-photo-item" data-slide-id="3">
                    <img class="slide-img" src="%=static=%img/assets/profile_photos/girl-3.jpg" alt="">
                    <a href="#" class="liked-link"><img src="%=static=%img/assets/profile_photos/liked-bg.png" alt=""></a>
                </li>
                <li class="profile-photo-item" data-slide-id="4">
                    <img class="slide-img" src="%=static=%img/assets/profile_photos/girl-4.jpg" alt="">
                    <a href="#" class="liked-link"><img src="%=static=%img/assets/profile_photos/liked-bg.png" alt=""></a>
                </li>
                <li class="profile-photo-item" data-slide-id="5">
                    <img class="slide-img" src="%=static=%img/assets/profile_photos/girl-5.jpg" alt="">
                    <a href="#" class="liked-link"><img src="%=static=%img/assets/profile_photos/liked-bg.png" alt=""></a>
                </li>
                <li class="profile-photo-item" data-slide-id="6">
                    <img class="slide-img" src="%=static=%img/assets/profile_photos/girl-6.jpg" alt="">
                    <a href="#" class="liked-link"><img src="%=static=%img/assets/profile_photos/liked-bg.png" alt=""></a>
                </li>
            </ul>
        </div>
    </div>
</div>