<div class="support">
    <div class="support-wrapper">
        <h1 class="support-title">Поддержка</h1>
        <div class="support-form-block">
            <form action="#" class="support-form" method="post">
                <div class="form-row">
                    <input type="text" name="name" class="input-text" placeholder="Введите Ваше имя">
                </div>
                <div class="form-row">
                    <input type="email" name="email" class="input-text" placeholder="Введите Ваш email">
                </div>
                <div class="form-row">
                    <span class="select-element"><select name="subject" class="input-select">
                        <option value="">Выберите тему сообщения</option>
                        <option value="1">Вопрос №1</option>
                        <option value="2">Вопрос №2</option>
                    </select></span>
                </div>
                <div class="form-row">
                    <textarea name="message" class="input-text input-textarea" placeholder="Введите Ваше сообщение"></textarea>
                </div>
                <div class="form-row">
                    <button class="btn btn-red" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
