.favorite{
  position: relative;
  width: 100%;
}

.favorite-wrapper{
  position: relative;
  width: 100%;
}

.favorite__form-block{
  background-color: $white;
  box-shadow: 0px 2px 5px 0px rgba(62, 0, 3, 0.05);
  margin-bottom: 35px;
}

.favorite-form-block__wrapper{
  padding: 40px;
}

.favorite-form-container .input-text{
  padding: 10px 10px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.favorite-form-block__title{
  color: $gray;
  font-family: "Times New Roman", serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.favorite .profile-item.top-profile.slick-slide{
  width: 282px !important;
  margin: 10px;
}

.favorite .favorite-slide{
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 282px;

  &:focus{
    outline: none;
  }
}

.favorite .link-part{
  text-align: center;
}

.favorite .favorite-slider{
  position: relative;
}

.favorite .slider-controls {
  left: 0;
  position: absolute;
  top: 200px;
  width: 100%;
  z-index: 50;
}

@media all and (max-width: 710px){
  .favorite .slider-controls {
    display: none;
  }

  .favorite-slider-content{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .favorite .favorite-slide{
    margin-bottom: 20px;
  }

  .favorite-form-block__wrapper{
    padding: 20px;
  }

  .favorite-form-block__title{
    margin-bottom: 15px;
  }
}