.edit-profile{
  position: relative;
  width: 100%;
}

.change-password-form .label-text{
  color: $light-dark-gray;
  margin-right: 40px;
}

.change-password-form .input-text{
  margin-right: 40px;
}

.edit-profile .profile-content-block-wrapper h4{
  font-size: 1.25rem;
}

.edit-profile .profile-content-block-wrapper h3{
  font-size: 1.5rem;
}
