<div class="edit-profile">
    <div class="edit-profile-wrapper">
        <div class="profile-content-block">
            <div class="profile-content-block-wrapper">
                <h4 class="profile-header mb25">Ваш адрес электронной почты: <a href="#" class="profile-link">prixodcko.eu@yandex.ru</a>
                </h4>

                <div class="profile-form-wrapper">
                    <form action="#" class="profile-form change-password-form" method="post">
                        <div class="form-row">
                            <label class="label-form profile-label">
                                <span class="label-text">Новый пароль:</span>
                                <input type="password" name="password" class="input-text">
                                <button type="submit" class="btn btn-red">Сохранить пароль</button>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <form action="#" class="info-form">
            <div class="profile-content-block">
                <div class="profile-content-block-wrapper">
                    <h3 class="profile-header mb25">Информация</h3>
                    <div class="info-form-wrapper">
                        <div class="profile-settings-list">
                            <div class="profile-settings-part">
                                <div class="form-row">
                                    <label class="label-form">
                                        <span class="label-text">Ваше имя:</span>
                                        <input type="text" class="input-text" name="name">
                                    </label>
                                </div>
                                <div class="form-row">
                                    <label class="label-form">
                                        <span class="label-text">Ваша фамилия:</span>
                                        <input type="text" class="input-text" name="lastname">
                                    </label>
                                </div>
                                <div class="form-row">
                                    <label class="label-form">
                                        <span class="label-text">Страна:</span>
                                        <span class="select-element"><select name="country" class="input-select">
                                            <option value="1">Россия</option>
                                            <option value="2">Украина</option>
                                            <option value="3">Белоруссия</option>
                                            <option value="4">Казахстан</option>
                                            <option value="5">Грузия</option>
                                            <option value="6">Армения</option>
                                        </select></span>
                                    </label>
                                </div>
                                <div class="form-row">
                                    <label class="label-form">
                                        <span class="label-text">Уровень образования:</span>
                                        <span class="select-element"><select name="education" class="input-select">
                                            <option value="1">Школа</option>
                                            <option value="2">Колледж</option>
                                            <option value="3">Университет</option>
                                            <option value="4">Магистратура</option>
                                            <option value="5">Аспирантура</option>
                                            <option value="6">Докторнатура</option>
                                        </select></span>
                                    </label>
                                </div>
                                <div class="form-row">
                                    <label class="label-form">
                                        <span class="label-text">Семейное положение:</span>
                                        <span class="select-element"><select name="family-status" class="input-select">
                                            <option value="1">Не женат</option>
                                            <option value="2">Не замужем</option>
                                            <option value="3">Женат</option>
                                            <option value="4">Замужем</option>
                                            <option value="5">Разведен</option>
                                            <option value="6">Разведена</option>
                                        </select></span>
                                    </label>
                                </div>
                                <div class="form-row">
                                    <label class="label-form">
                                        <span class="label-text">Рост:</span>
                                        <span class="select-element"><select name="family-status" class="input-select">
                                            <option value="1">(140 - 145)</option>
                                            <option value="2">(150 - 155)</option>
                                            <option value="3">(160 - 165)</option>
                                            <option value="4">(165 - 170)</option>
                                            <option value="5">(175 - 185)</option>
                                            <option value="6">выше 185</option>
                                        </select></span>
                                    </label>
                                </div>
                                <div class="form-row">
                                    <label class="label-form">
                                        <span class="label-text">Вес:</span>
                                        <span class="select-element"><select name="family-status" class="input-select">
                                            <option value="1">60 кг</option>
                                            <option value="2">от 60 до 65 кг</option>
                                            <option value="3">от 70 до 75 кг</option>
                                            <option value="4">от 80 до 90 кг</option>
                                            <option value="5">от 90 до 100 кг</option>
                                            <option value="6">выше 1000 кг</option>
                                        </select></span>
                                    </label>
                                </div>
                                <div class="form-row">
                                    <label class="label-form">
                                        <span class="label-text">Отношение к курению:</span>
                                        <span class="select-element"><select name="family-status" class="input-select">
                                            <option value="1">Нет</option>
                                            <option value="2">Да</option>
                                        </select></span>
                                    </label>
                                </div>
                            </div>
                            <div class="profile-settings-part">
                                <div class="form-row">
                                    <label class="label-form">
                                        <span class="label-text">Дата рождения:</span>
                                        <div class="select-group"><span class="select-element"><select
                                                name="day-birthday" class="input-select">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                        </select></span>
                                            <span class="select-element"><select name="month-birthday"
                                                                                 class="input-select">
                                            <option value="1">Январь</option>
                                            <option value="2">Февраль</option>
                                            <option value="3">Март</option>
                                            <option value="4">Апрель</option>
                                            <option value="5">Май</option>
                                            <option value="6">Июнь</option>
                                            <option value="7">Июль</option>
                                            <option value="8">Август</option>
                                            <option value="9">Сентябрь</option>
                                            <option value="10">Октябрь</option>
                                            <option value="11">Ноябрь</option>
                                            <option value="12">Декабрь</option>
                                        </select></span>
                                            <span class="select-element"><select name="year-birthday"
                                                                                 class="input-select">
                                            <option value="1">1990</option>
                                            <option value="2">1989</option>
                                            <option value="3">1988</option>
                                            <option value="4">1987</option>
                                            <option value="5">1986</option>
                                            <option value="6">1985</option>
                                            <option value="7">1984</option>
                                            <option value="8">1983</option>
                                            <option value="9">1982</option>
                                            <option value="10">1981</option>
                                            <option value="11">1980</option>
                                            <option value="12">1979</option>
                                            <option value="13">1978</option>
                                            <option value="14">1977</option>
                                            <option value="15">1976</option>
                                            <option value="16">1975</option>
                                            <option value="17">1974</option>
                                            <option value="18">1973</option>
                                            <option value="19">1972</option>
                                            <option value="20">1971</option>
                                        </select></span></div>
                                    </label>
                                </div>
                                <div class="form-row">
                                    <label class="label-form">
                                        <span class="label-text">Город:</span>
                                        <input type="text" class="input-text" name="city">
                                    </label>
                                </div>
                                <div class="form-row">
                                    <label class="label-form">
                                        <span class="label-text">Религия:</span>
                                        <span class="select-element"><select name="religion" class="input-select">
                                            <option value="1">Христианство</option>
                                            <option value="2">Ислам</option>
                                            <option value="3">Буддизм</option>
                                            <option value="4">Иудаизм</option>
                                        </select></span>
                                    </label>
                                </div>
                                <div class="form-row">
                                    <label class="label-form">
                                        <span class="label-text">Профессия:</span>
                                        <input type="text" class="input-text" name="work">
                                    </label>
                                </div>
                                <div class="form-row">
                                    <label class="label-form">
                                        <span class="label-text">Религия:</span>
                                        <span class="select-element"><select name="children" class="input-select">
                                            <option value="1">Нет</option>
                                            <option value="2">1</option>
                                            <option value="3">2</option>
                                            <option value="4">более 2</option>
                                        </select></span>
                                    </label>
                                </div>
                                <div class="form-row">
                                    <label class="label-form">
                                        <span class="label-text">Цвет волос:</span>
                                        <span class="select-element"> <select name="hair" class="input-select">
                                            <option value="1">Черный</option>
                                            <option value="2">Рыжий</option>
                                            <option value="3">Русый</option>
                                            <option value="4">Зеленый</option>
                                        </select></span>
                                    </label>
                                </div>
                                <div class="form-row">
                                    <label class="label-form">
                                        <span class="label-text">Отношение к алкоголю:</span>
                                        <span class="select-element"><select name="religion" class="input-select">
                                            <option value="1">Нет</option>
                                            <option value="2">Да</option>
                                        </select></span>
                                    </label>
                                </div>
                                <div class="form-row">
                                    <label class="label-form">
                                        <span class="label-text top-label-text">Хобби:</span>
                                        <textarea name="hobby" class="input-text input-textarea"></textarea>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="profile-content-block advertisment">
                <div class="profile-content-block-wrapper">
                    <h3 class="profile-header mb25">Your advertisment</h3>
                    <div class="info-form-wrapper">
                        <div class="profile-settings-list">
                            <div class="profile-settings-row">
                                <div class="profile-settings-part without-border content-to-bottom">
                                    <div class="form-row">
                                        <label class="label-form">
                                            <span class="label-text">По возрастному критерию:</span>
                                            <span class="input-group">
                                            <span class="label-text">от</span>
                                            <input type="text" class="input-text sm-input-w text-center" name="from">
                                            <span class="label-text">до</span>
                                            <input type="text" class="input-text sm-input-w text-center" name="to">
                                        </span>
                                        </label>
                                    </div>
                                    <div class="form-row">
                                        <label class="label-form">
                                            <span class="label-text">Цель знакомства:</span>
                                            <input type="text" class="input-text" name="">
                                        </label>
                                    </div>
                                    <div class="form-row">
                                        <label class="label-form label-to-row">
                                            <span class="label-text">Самостоятельное описание:</span>
                                            <textarea name="description"
                                                      class="input-text input-textarea input-to-row"></textarea>
                                        </label>
                                    </div>
                                </div>
                                <div class="profile-settings-part without-border content-to-bottom">
                                    <div class="form-row">
                                        <label class="label-form label-to-row">
                                            <span class="label-text">Идеальный партнер:</span>
                                            <textarea name="ideal"
                                                      class="input-text input-textarea input-to-row"></textarea>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-settings-part without-border content-to-row">
                                <div class="form-row">
                                    <label class="label-form label-checkbox">
                                        <input type="checkbox" checked value="1" class="input-checkbox" name="alerts">
                                        <span class="label-text label-to-row">Присылать мне уведомления о новых сообщениях</span>
                                    </label>
                                </div>
                                <div class="form-row">
                                    <label class="label-form label-checkbox">
                                        <input type="checkbox" value="1" class="input-checkbox" name="alerts">
                                        <span class="label-text label-to-row">Присылать мне уведомления о новых профилях</span>
                                    </label>
                                </div>
                                <div class="form-row">
                                    <button class="btn btn-red" type="submit">Сохранить изменения</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
