<div class="pagination">
    <ul class="pagination-list">
        <li class="pagination-item prev"><a href="#" class="pagination-link">&larr;</a></li>
        <li class="pagination-item"><a href="#" class="pagination-link">1</a></li>
        <li class="pagination-item"><a href="#" class="pagination-link">2</a></li>
        <li class="pagination-item"><a href="#" class="pagination-link">3</a></li>
        <li class="pagination-item active"><a href="#" class="pagination-link">4</a></li>
        <li class="pagination-item"><a href="#" class="pagination-link">5</a></li>
        <li class="pagination-item"><a href="#" class="pagination-link">6</a></li>
        <li class="pagination-item"><a href="#" class="pagination-link">7</a></li>
        <li class="pagination-item next"><a href="#" class="pagination-link">&rarr;</a></li>
    </ul>
</div>
