<div class="reg-modal" id="reg-modal">
    <div class="reg-modal-wrapper">
        <div class="modal-close">
            <a href="#" class="modal-close-link"></a>
        </div>
        <div class="modal-title">Пройти регистрацию <span class="row-title">за 2 минуты</span></div>
        <div class="modal-form-wrapper">
            <form action="#" class="modal-form" method="post" enctype="application/x-www-form-urlencoded" autocomplete="off">
                <div class="form-row">
                    <input type="text" name="name" class="input-text name-input-js" placeholder="Введите ваше имя:">
                </div>
                <div class="form-row">
                    <input type="text" name="lastname" class="input-text lastname-input-js" placeholder="Введите вашу фамилию:">
                </div>
                <div class="form-row">
                    <input type="email" name="email" class="input-text email-input-js" placeholder="Введите ваш email:">
                </div>
                <div class="form-row select-row">
                    <select name="country" class="input-select">
                        <option value="">Страна</option>
                        <option value="1">Россия</option>
                        <option value="2">Белоруссия</option>
                        <option value="3">Украина</option>
                        <option value="4">Казахстан</option>
                    </select>
                </div>
                <div class="form-row">
                    <input type="password" name="password" class="input-text password-input-js" placeholder="Пароль">
                </div>
                <div class="form-row center-content">
                    <button class="btn btn-red" type="submit">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
</div>
